@import "./fonts.scss";

// //поиск блока который ломает верстку:
// * {
//   outline : 1px solid red !important;
// }

// main {
// opacity: 0;
// overflow: hidden;
// transition: opacity 0.5s ease 0s;
// }

// .main_active {
// overflow: visible;
// opacity: 1;
// }

// Reset and base styles
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

//убираем голубую заливку инпута при автозаполнении:
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

// end reset

// @include center
@mixin center {
  display: grid;
  place-items: center;
}

// // Шрифты:
// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal (Regular)
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)

body {
  position: relative;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #585858;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.section {
  margin: 0 auto;
  padding: 40px 10px;
}

.main {
  border-top: 178px solid transparent;

  @media (max-width: 760px) {
    border-top: 66px solid transparent;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16.5px 40px;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.83px;
  text-align: left;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  border: 1px solid #11a0a3;
  color: #fff;
  background: #11a0a3;
  width: max-content;

  @media (max-width: 1060px) {
    padding: 13.5px 40px;
  }

  &.btn_gray {
    border-color: #11a0a3;
    background: #11a0a3;
    color: #fff;

    &:hover {
      border-color: #117074;
      background: #117074;
      color: #fff;
    }
  }

  &.btn_trans-gray {
    border-color: #11a0a3;
    background: transparent;
    color: #117074;

    &:hover {
      border-color: #11a0a3;
      background: #11a0a3;
      color: #fff;
    }
  }

  &.btn_trans-white {
    border-color: #fff;
    background: transparent;
    color: #fff;

    &:hover {
      border-color: #fff;
      background: #fff;
      color: #117074;
    }
  }

  &.btn_white {
    border-color: #f0fdfb;
    background: #f0fdfb;
    color: rgba(#117074, 0.5);

    &:hover {
      border-color: #737d7d;
      background: #737d7d;
      color: #fff;
      opacity: 0.7;
    }
  }

  &.btn_orange {
    border-color: #fab502;
    background: #fab502;
    color: #815e04;

    &:hover {
      border-color: #a57700;
      background: #a57700;
      color: #fff;
    }
  }

  &.btn_trans-orange {
    border-color: #fab502;
    background: transparent;
    color: #222222;
    border-color: linear-gradient(93.1deg, #fbd676 0.28%, #fab502 68.21%);

    &:hover {
      border-color: #fab502;
      background: #fab502;
      color: #815e04;
    }
  }
}

.developer {
  grid-column: 7/8;
  grid-row: 1/3;
  align-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  opacity: 0.5;
  color: #fff;
  transition: opasity 0.3s ease-in-out;

  .developer__text {
    max-width: 140px;
  }

  &:hover {
    opacity: 1;
  }
  & svg path {
    fill: rgba(#fff, 0.5);
    transition: fill 0.3s ease-in-out;
  }

  &:hover svg path {
    fill: white;
  }
}

.form {
  // box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 17% 40% 20% 9%;
  gap: 1%;
  // justify-content: center;
  // flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 50px;
  // gap: 60px;

  // width: 544px;
  // height: 672px;

  background: #ffffff;
  border-radius: 10px;

  .form__title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    text-align: left;
  }
  .form__desc {
    max-width: 75%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }

  .form__label-block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;

    .form__label {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 1fr 2fr;
      justify-items: start;
      align-items: start;
      gap: 5px 0;

      font-family: Inter;
      font-size: 14px;
      font-weight: 400;

      border-bottom: 1px solid #a9a9a9;

      .form__label-text {
        grid-row: 1/1;
        color: #bababa;
      }

      .form__label-star {
        grid-row: 1/1;
        color: #363636;
      }

      .form__input {
        grid-column: span 2;
        width: 100%;
        line-height: 37px;
        &::placeholder {
          font-size: 16px;
          color: #363636;
        }
      }
    }
  }

  .form__btn {
    align-self: end;
    width: 100%;
    height: 60px;
  }

  .form__agreement-wrap {
    align-self: end;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;

    .form__agreement-text {
      color: #a9a9a9;
    }
    .form__agreement-link {
      color: #363636;
    }
  }
}

.title {
  &.title_25 {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.26px;
    text-align: left;
    color: #363636;
  }

  &.title_30 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36.31px;
    text-align: left;
    color: #000;
  }

  &.title_40 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    text-align: left;
    color: #363636;
  }
}

.text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #585858;
}

.logo {
  width: 171px;
  // height: 70px;
  align-self: start;

  @media (max-width: 760px) {
    width: 98px;
    // height: 70px;
    justify-self: end;
  }

  @media (max-width: 560px) {

  }

  .logo__link {
    display: block;
    width: 100%;
    height: 100%;
  }

}

// --------------------------------------- куки start ---------------------------------------

.cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 110px 20px 20px;
  display: flex;
  width: 100%;
  border-top: 1px solid #333333;
  font-size: 1.3em;
  justify-content: center;
  background-color: #fff;
  z-index: 1000;
  align-items: center;

  .cookie__wrapper {
    display: flex;
    margin-right: 20px;
    color: #333333;
    align-items: center;
  }
  .cookie__wrapper p {
    margin-right: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
  }
  .cookie__wrapper a {
    color: #333333;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
  }
  .cookie__wrapper a:hover {
    color: #333333;
    text-decoration: underline;
  }
  .cookie__btn {
    color: #008ed7;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }
  .cookie__close {
    position: absolute;
    right: 0;
    // top: 50%;
    // transform: translateY(-40%);
    // width: 12px;
    cursor: pointer;
    font-family: "Noto Sans Display";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
  }
}

// --------------------------------------- куки end ---------------------------------------
// --------------------------------------- INFO start ---------------------------------------

// --------------------------------------- INFO end ---------------------------------------
// --------------------------------------- POPUP start ---------------------------------------

.lock {
  // класс для блокировки скролла боди
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#212121, 0.6);
  backdrop-filter: blur(3px);
  z-index: 900;
  opacity: 0;
  // opacity: 1;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  
  &.open .project-form {
    opacity: 1;
  }

  &.open .popup-success {
    opacity: 1;
  }

  &__body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14% 58% 12% 4%;
    gap: 4%;
    align-items: start;
    justify-content: start;
    position: relative;
    // padding: 50px;
    // background: #ffffff;
    // border-radius: 10px;

    /* Форма заявки при запросе цены и планировки */

    /* Auto layout */
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    padding: 50px;
    // gap: 20px;
    // isolation: isolate;

    // position: relative;
    max-width: 495px;
    width: 100%;
    min-height: 827px;

    background: #ffffff;
    border-radius: 10px;

    .form__title {
      font-family: Inter;
      font-size: 40px;
      font-weight: 400;
      line-height: 48.41px;
      text-align: left;
      max-width: 250px;
    }
    .form__desc {
      max-width: 75%;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
    }

    .form__label-block {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 30px;

      .form__label {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr 2fr;
        justify-items: start;
        align-items: start;
        gap: 5px 0;

        font-family: Inter;
        font-size: 14px;
        font-weight: 400;

        border-bottom: 1px solid #a9a9a9;

        .form__label-text {
          grid-row: 1/1;
          color: #bababa;
        }

        .form__label-star {
          grid-row: 1/1;
          color: #363636;
        }

        .form__input {
          grid-column: span 2;
          width: 100%;
          line-height: 37px;

          &::placeholder {
            font-size: 16px;
            color: #363636;
          }
        }

        &.form__label_textarea {
          grid-template-columns: max-content 1fr;
          grid-template-rows: max-content 1fr;

          .form__input_textarea {
            max-width: 395px;
            min-height: 116px;
          }
        }
      }
    }

    .form__btn {
      align-self: end;
      width: 100%;
      height: 60px;
    }

    .form__close-btn {
      position: absolute;
      width: 20px;
      height: 15px;
      right: 20px;
      top: 20px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        inset: -12px;
      }

      // border: 1.5px solid #8C8C8C;
      // flex: none;
      // order: 2;
      // flex-grow: 0;
      // z-index: 2;
    }

    .form__agreement-wrap {
      align-self: end;

      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;

      .form__agreement-text {
        color: #a9a9a9;
      }
      .form__agreement-link {
        color: #363636;
      }
    }
  }

  .request {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 65% 12% 4%;
    gap: 4%;
    align-items: start;
    justify-content: start;
    position: relative;
    padding: 50px;
    max-width: 495px;
    width: 100%;
    min-height: 871px;
    background: #ffffff;
    border-radius: 10px;

    .request__title {
      font-family: Inter;
      font-size: 40px;
      font-weight: 400;
      line-height: 48.41px;
      text-align: left;
      max-width: 100%;
    }
    .request__desc {
      max-width: 75%;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
    }

    .request__label-block {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 30px;

      .request__label {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr 2fr;
        justify-items: start;
        align-items: start;
        gap: 6px 0;

        font-family: Inter;
        font-size: 14px;
        font-weight: 400;

        border-bottom: 1px solid #a9a9a9;

        .request__label-text {
          grid-row: 1/1;
          color: #bababa;
        }

        .request__label-star {
          grid-row: 1/1;
          color: #363636;
        }

        .request__input {
          grid-column: span 2;
          width: 100%;
          line-height: 37px;

          &::placeholder {
            font-size: 16px;
            color: #363636;
          }
        }

        &.request__label_textarea {
          grid-template-columns: max-content 1fr;
          grid-template-rows: max-content 1fr;

          .request__input_textarea {
            max-width: 395px;
            min-height: 116px;
          }
        }
      }

      .request__label_readonly {
        border-bottom: 1px solid #d9d9d9;

        .request__input {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          // line-height: 19.36px;
          text-align: left;
          color: #bababa;

          &::placeholder {
            color: #bababa;
          }
        }
      }
    }

    .request__btn {
      align-self: end;
      width: 100%;
      height: 60px;
    }

    .request__close-btn {
      position: absolute;
      width: 20px;
      height: 15px;
      right: 20px;
      top: 20px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        inset: -12px;
      }

      // border: 1.5px solid #8C8C8C;
      // flex: none;
      // order: 2;
      // flex-grow: 0;
      // z-index: 2;
    }

    .request__agreement-wrap {
      align-self: end;

      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;

      .request__agreement-text {
        color: #a9a9a9;
      }
      .request__agreement-link {
        color: #363636;
      }
    }
  }

  .notification {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 65% 12% 4%;
    gap: 4%;
    align-items: start;
    justify-content: start;
    position: relative;
    padding: 50px;
    max-width: 768px;
    width: 100%;
    min-height: 759px;
    background: #1b1b1b;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #ffffff;

    .notification__title {
      font-family: Inter;
      font-size: 40px;
      font-weight: 400;
      line-height: 48.41px;
      text-align: left;
      max-width: 100%;
    }
    .notification__desc {
      max-width: 75%;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
    }

    .notification__label-block {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: repeat(4, 1fr);
      gap: 30px;

      .notification__label {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr 2fr;
        justify-items: start;
        align-items: start;
        gap: 6px 0;

        font-family: Inter;
        font-size: 14px;
        font-weight: 400;

        border-bottom: 1px solid #a9a9a9;

        .notification__label-text {
          grid-row: 1/1;
          color: #949494;
        }

        .notification__label-star {
          grid-row: 1/1;
          color: #ffffff;
        }

        .notification__input {
          grid-column: span 2;
          width: 100%;
          line-height: 37px;

          &::placeholder {
            font-size: 16px;
            color: #ffffff;
          }
        }

        &.notification__label_textarea {
          grid-template-columns: max-content 1fr;
          grid-template-rows: max-content 1fr;

          .notification__input_textarea {
            max-width: 395px;
            min-height: 116px;
          }
        }
      }

      .notification__label_readonly {
        border-bottom: 1px solid #d9d9d9;

        .notification__input {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          // line-height: 19.36px;
          text-align: left;
          color: #bababa;

          &::placeholder {
            color: #bababa;
          }
        }
      }

      .notification__agency {
        grid-column: 2 span;
      }

      .notification__label_textarea {
        grid-column: 2 span;
      }
    }

    .notification__btn {
      align-self: end;
      width: 100%;
      height: 60px;
    }

    .notification__close-btn {
      position: absolute;
      width: 20px;
      height: 15px;
      right: 20px;
      top: 20px;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        inset: -12px;
      }

      // border: 1.5px solid #8C8C8C;
      // flex: none;
      // order: 2;
      // flex-grow: 0;
      // z-index: 2;
    }

    .notification__agreement-wrap {
      align-self: end;

      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;

      .notification__agreement-text {
        color: #a9a9a9;
      }
      .notification__agreement-link {
        color: #ffffff;
      }
    }
  }

  .popup-success {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
    opacity: 0;
    transition: all 0.8s ease 0s;
    background: #ffffff;
    border-radius: 10px;
    max-width: 544px;
    min-height: 322px;
    padding: 50px;

    .popup-success__title {
      font-family: Inter;
      font-size: 30px;
      font-weight: 400;
      line-height: 36.31px;
      text-align: left;
      color: #56693e;
    }

    .popup-success__subtitle {
      //styleName: текст боди;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
      color: #616161;
    }

    .popup-success__close {
      align-self: center;
      width: 100%;
      min-height: 60px;
      background: #56693e;

      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 21.78px;
      text-align: center;
      color: #ffffff;
    }
  }

  .popup__content {
    // background-color: white;
  }

  .promo {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1000;
    transition: all 0.8s ease 0s;
    background: #ffffff;
    border-radius: 10px;
    width: 1000px;
    height: 750px;
    padding: 80px 43px 60px 60px;

    display: grid;
    grid-auto-flow: row;
    grid-template: auto auto 1fr/ 1fr;

    .promo__title {
      margin-bottom: 20px;
      font-family: Inter;
      font-size: 40px;
      font-weight: 400;
      line-height: 56px;
      text-align: left;
      color: #000;
    }

    .promo__top-wrap {
      margin-bottom: 40px;
      display: grid;
      grid-auto-flow: column;
      gap: 20px;
      justify-content: start;

      .promo__date {
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.15px;
        text-align: left;
        color: #000;
      }
      .promo__time {
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 18.15px;
        text-align: left;
        color: #748d55;
      }
    }

    .promo__wrapper {
      width: 100%;
      // height: 100%;
      overflow: auto;
      display: grid;
      grid-auto-flow: row;
      gap: 20px;
      justify-content: start;
      padding-right: 13px;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        width: 4px;
        background-color: #dedede;
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        width: 4px;
        border-radius: 100px;
        background: #b1b1b1;
      }

      .promo__img {
        width: 100%;
        height: 350px;
        margin-bottom: 20px;

        & img {
          border-radius: 5px;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .promo__list {
        margin-bottom: 40px;
        display: grid;
        gap: 40px;

        .promo__item {
          display: grid;
          gap: 15px;
          .promo__item-title {
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 21.6px;
            text-align: left;
            color: #363636;
          }

          .promo__item-text {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            color: #363636;
          }
        }
      }

      .promo__desc {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: #363636;
      }

      .promo__phone {
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 21.6px;
        text-align: left;
        color: #363636;
      }

      .promo__btn {
        display: grid;
        place-items: center;
        padding: 9px 10px;
        max-width: 271px;
        min-height: 60px;
        background: #333333;
        border-radius: 5px;
      }
    }

    .promo__close {
      position: absolute;
      top: 35px;
      right: 40px;
      padding: 5px;
    }
  }

  .filter {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1000;
    transition: all 0.8s ease 0s;
    background: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: auto;
    // padding: 80px 43px 60px 60px;

    // display: grid;
    // grid-auto-flow: row;
    // grid-template: auto auto 1fr/ 1fr;

    .choice__container {
      max-width: 1712px;
      padding: 29px 15px 20px;
      display: grid;
      grid-auto-flow: row;
      gap: 25px;
      border: 1px solid #f5f5f5;
      border-radius: 10px;

      .choice__form {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        gap: 28px 30px;
        align-items: center;

        .choice__input-block {
          display: grid;
          grid-auto-flow: row;
          gap: 10px;

          &.choice__input-block_project {
            display: grid;
          }

          .choice__label {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            text-align: left;
            color: #000000;
          }

          .choice__select {
          }

          .choice__buttons-select {
            padding: 0 2%;
            display: grid;
            grid-template-columns: 24% 18% 18% 18% 18%;
            justify-content: center;
            gap: 0px;

            .choice__buttons-select-item {
              width: 100%;
              height: 100%;
              font-family: Inter;
              font-size: 18px;
              font-weight: 400;
              color: rgba(#000, 0.5);
              border-bottom: 2px solid transparent;
              transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

              &_active {
                color: #000;
                border-color: #56693e;
              }
            }
          }

          .choice__slider-select {
            padding: 0px 5%;
            display: grid;
            grid-template-columns: 48% 0% 48%;
            justify-content: center;
            gap: 3%;
            position: relative;

            .select__wrapper {
              display: grid;
              grid-auto-flow: column;
              justify-content: space-between;
              gap: 10px;
            }

            .select__placeholder {
              font-family: Inter;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.36px;
              color: rgba(#616161, 0.5);
            }
            .select__input {
              font-family: Inter;
              font-size: 18px;
              font-weight: 400;
              line-height: 21.78px;
              text-align: right;
              width: 100%;
            }

            .slider-container {
              position: absolute;
              top: calc(100% - 2px);
              left: 0;
              right: 0;
              height: 3px;
              margin: 0 23px;

              .range-slider {
                position: absolute;
                left: 0%;
                right: 0%;
                height: 100%;
                background: #748d55;
              }
            }

            .range-inputs-wrap {
              position: absolute;
              top: calc(100% - 2px);
              left: 0;
              right: 0;
              height: 3px;
              margin: 0 20px;

              & input {
                position: absolute;
                left: 0%;
                right: 0%;
                height: 100%;
                background: none;
                pointer-events: none;
                cursor: pointer;
                -webkit-appearance: none;
              }

              input[type="range"]::-webkit-slider-thumb {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background: #748d55;
                pointer-events: auto;
                -webkit-appearance: none;
              }
            }
          }
        }

        .choice__btns-block {
          // grid-column: 2 span;
          flex-flow: row wrap;
          justify-content: start;
          display: flex;
          padding-top: 0;
          gap: 10px;
          margin-bottom: 0;

          .choice__btn-filter {
            padding: 9px;
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
            align-items: center;
            gap: 5px;
            background: #e7f0db;
            border-radius: 50px;
            font-size: 16px;
            font-weight: 500;
            color: #56693e;
            white-space: nowrap;

            &_active {
              background: #748d55;
              color: white;
            }
          }
        }

        .choice__btn-wrap {
          display: grid;
          grid-auto-flow: column;
          justify-content: initial;
          align-items: center;

          .choice__text {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;
            color: #000;
            opacity: 0.8;
          }

          .choice__btn-request {
            justify-self: end;
            display: grid;
            font-size: 15px;
            min-height: 50px;

            &.choice__btn-request_mobile {
              display: none;
            }
          }
        }
      }
    }

    .promo__close {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 5px;
      z-index: 2000;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.8s ease 0s;
    background: #ffffff;
    // border-radius: 10px;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    padding: 10px;

    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";

    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    gap: 30px;

    .logo-wrap {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      box-shadow: 0px 22px 18px 5px rgba(5, 43, 46, 0.04);
    }

    .logo {
      grid-area: a;
    }

    .nav {
      grid-area: b;
      padding-top: 15px;

      .nav__list {
        display: grid;
        grid-auto-flow: row;
        gap: 16px;

        .nav__item {
          .nav__link {

            .nav__text {            

              &:hover {
                color: #56693e;
              }
            }
          }
        }
      }
      .nav__dot {
        display: none;
      }
    }

    .btn {
      grid-area: c;
      padding: 11px 19px;
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.83px;
      text-align: left;

    }

    .contacts {
      grid-area: d;
      display: grid;
      grid-auto-flow: row;
      // border-top: 1px solid #cbcbcb;
      // padding: 15px 0px 0px;
      margin-bottom: 30px;
      gap: 13px;
      width: 100%;

      .contacts__item {
        transition: color 0.3s ease-in-out;
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        align-items: center;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.83px;
        text-align: left;
        color: #222;

        &_email {
        }

        &_phone {
        }
      }
    }

    .promo__close {
      position: absolute;
      top: 13px;
      left: 4px;
      padding: 5px;
      z-index: 2000;
    }
  }
}

.burger {
  position: relative;
  // display: none;
  .burger__close-btn {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    inset: -15px -2px;
  }

  &.burger_active {
    .burger__open-btn {
      display: none;
    }

    .burger__close-btn {
      display: block;
    }
  }
}

// --------------------------------------- POPUP end ---------------------------------------
// --------------------------------------- MODAL start ---------------------------------------

.modal {
  position: relative;
  padding: 40px;

  .modal__btn {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }

  .modal__title {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
  }

  .modal__subtitle {
    margin-bottom: 56px;
    max-width: 500px;
    color: rgb(92, 92, 92);
    font-family: Montserrat;
    font-size: 20px;
    line-height: 110%;
  }

  .modal__desc {
    color: rgb(76, 175, 80);
    font-size: 30px;
    line-height: 110%;
    text-transform: uppercase;
  }
}

// --------------------------------------- MODAL end ---------------------------------------
// --------------------------------------- start NAV ---------------------------------------

.nav {
  width: 100%;

  .nav__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;

    @media (max-width: 1200px) {
      justify-content: space-between;
    }

    .nav__item {
      &.nav__item_apartments {
        display: none;
      }
    }

    .nav__link {
      .nav__text {
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 400;
        line-height: 20.88px;
        text-align: left;
        color: #222;
        text-shadow: transparent 0.2px 0.2px 0.2px, transparent -0.2px -0.2px 0.2px, transparent -0.2px 0.2px 0.2px,
          transparent 0.2px -0.2px 0.2px;

        transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

        &:hover {
          color: #125a5d;
        }

        &:active {
          text-shadow: #125a5d 0.2px 0.2px 0.2px, #125a5d -0.2px -0.2px 0.2px, #125a5d -0.2px 0.2px 0.2px,
            #125a5d 0.2px -0.2px 0.2px;
          color: #125a5d;
        }
      }
    }
  }

  &.nav_active {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}
// --------------------------------------- end NAV ---------------------------------------
// --------------------------------------- RUNNER start ---------------------------------------

.runner-wraper {
  display: flex;
  flex-flow: column nowrap;
  // align-items: center;
  // justify-content: center;
  gap: 15px;

  .runner {
    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 50px));
      }
    }

    .runner__container {
      max-width: 1920px;
      padding: 25px 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 50px;
      // border-bottom: 1px solid $color-2DA1B7;
      // border-top: 1px solid $color-2DA1B7;

      overflow: hidden;

      .runner__wrap {
        // flex-shrink: 0;
        // gap: 50px;
        // display: flex;
        // animation: scroll 10s linear infinite;
      }

      .runner__list {
        animation: scroll 60s linear infinite;
        flex-shrink: 0;
        display: flex;
        gap: 50px;
        flex-flow: row nowrap;
        align-items: center;
      }

      .runner__el {
        // flex-shrink: 0;
        // gap: 50px;
        // display: flex;
        // animation: scroll 10s linear infinite;
        font-size: 32px;
        font-weight: 300;
        line-height: 41.76px;
        letter-spacing: 0.04em;
        text-align: left;
        // color: $color-2DA1B7;
        text-transform: uppercase;
      }

      .runner__dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #2da1b7;
      }
    }

    &.runner_reverse {
      @keyframes scroll-reverse {
        from {
          transform: translateX(calc(-100% + 150px));
        }
        to {
          transform: translateX(calc(0% + 200px));
        }
      }

      .runner__list {
        animation: scroll-reverse 60s linear infinite;
      }
    }
  }
}

// --------------------------------------- RUNNER end ---------------------------------------
// --------------------------------------- HEADER start ---------------------------------------

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // height: 70px;
  z-index: 100;
  background-color: rgba(white, 0.8);
  backdrop-filter: blur(22px);

  .header__section {
    padding: 26px 20px;
    display: grid;
    align-content: center;
    height: 100%;

    @media (max-width: 1060px) {
      padding: 14px 10px;
    }

    
    @media (max-width: 760px) {
      padding: 10px;
    }

    .header__container {
      display: grid;
      justify-content: start;
      grid-template: auto / auto 1fr auto;
      gap: 0 20px;
      grid-template-areas:
        "a e b"
        "c e b";

      @media (max-width: 1060px) {
        grid-template: auto / 1fr auto;

        grid-template-areas:
          "a b"
          "c c";
      }

      @media (max-width: 760px) {
        grid-template: 1fr / auto auto;
        grid-template-areas: "e a";

        justify-content: space-between;
        align-content: center;
      }

      .burger {
        display: none;
        justify-self: end;

        @media (max-width: 760px) {
          display: block;
        }
      }

      .header__top-block {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 50px;
        grid-area: a;
        padding-bottom: 23px;
        border-bottom: 1px solid;
        // border-image: linear-gradient(0deg, #11A0A3, #11A0A3);
        // border-image: linear-gradient(#11A0A3, #FAB502);
        border-image: linear-gradient(90deg, #11a0a3 0%, #fab502 100%);
        border-image-slice: 1;
        justify-content: start;
        width: max-content;

        // border: 1px solid;

        @media (max-width: 1060px) {
          gap: 25px;
          padding-bottom: 26px;

        }

        @media (max-width: 760px) {
          padding-bottom: initial;
          border-bottom: initial;

        }

        .contacts {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          gap: 13px 50px;

          @media (max-width: 1060px) {
            grid-auto-flow: row;
          }

          @media (max-width: 760px) {
            display: none;
          }

          .header__top-block {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
          }

          .contacts__item {
            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            align-items: center;

            .contacts__text {
              font-family: Gilroy;
              font-size: 16px;
              font-weight: 500;
              line-height: 18.83px;
              text-align: left;
              color: #222;
            }
          }
        }
      }

      .header__nav-wrap {
        grid-area: c;
        padding-top: 15px;

        @media (max-width: 1060px) {
          padding-top: 26px;
        }

        @media (max-width: 760px) {
          display: none;
        }
      }

      .header__right-block {
        display: grid;
        gap: 12px;
        grid-area: b;
        align-content: center;

        @media (max-width: 760px) {
          display: none;
        }

        .header__phone {
          text-align: center;
        }

        .header__btn {
          height: max-content;
        }

        .header__phone-link {
          font-family: Gilroy;
          font-size: 26px;
          font-weight: 600;
          line-height: 31.85px;
          color: #052b2e;
          text-decoration: underline;
          text-underline-offset: 5px;
          text-decoration-color: transparent;
          text-decoration-thickness: 2px;
          transition: text-decoration-color 0.3s ease-in-out;

          &:hover {
            text-decoration-color: #052b2e;
          }
        }
      }
    }
  }
}

// --------------------------------------- HEADER end ---------------------------------------
// --------------------------------------- FOOTER start ---------------------------------------

.footer {
  background: #363636;

  .footer__section {
    padding: 50px 104px;

    .footer__container {
      padding: 0;

      .footer__top-block {
        margin-bottom: 80px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 350px 1fr 833px;
        grid-template-rows: 1fr;
        gap: 20px;
        grid-row: 3/4;

        .contacts {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 53px 52px auto;
          align-items: start;
          justify-items: start;
          gap: 9px;

          &__item {
            transition: color 0.3s ease-in-out;

            &_email {
              font-size: 20px;
              font-weight: 500;
              color: #748d55;

              &:hover {
                // color: $color-black;
              }
            }
            &_phone {
              align-self: center;
              font-family: Inter;
              font-size: 40px;
              line-height: 100%;
              font-weight: 500;
              color: white;

              &:hover {
                // color: $color-black;
              }
            }

            &_address {
              font-size: 16px;
              font-weight: 400;
              color: #f5f5f5;
            }
          }
        }

        .footer__nav-wrap {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr;
          gap: 20px;
          grid-column: 3/4;

          .footer__nav {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            // grid-template-rows: 20% 56%;
            gap: 32px;

            .nav__title {
              color: rgba(#f5f5f5, 0.5);
            }

            .nav__list {
              display: grid;
              grid-template-columns: 1fr;
              grid-auto-flow: row;
              align-items: start;
              gap: 17px;

              .nav__item {
                display: grid;
                justify-content: start;

                .nav__link {
                  font-family: Inter;
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 21.78px;
                  text-align: left;
                  color: #fff;
                  transition: color 0.3s ease-in-out;

                  &:hover {
                    color: #748d55;
                  }
                }
              }

              // flex-flow: row nowrap;
              // justify-content: space-between;
              // gap: 20px;
            }
          }
        }
      }

      .footer__bottom-block {
        // padding-bottom: 65px;
        // padding: 28px 0 50px;
        padding-top: 28px;
        // grid-row: 4/5;
        display: grid;
        grid-template-columns: 116px 200px 6% 203px 6% 185px 3% 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas:
          "a b . d . e . f"
          "a c . d . e . f"
          "a c . d . e . f";
        align-items: start;
        align-content: start;
        gap: 5px 30px;
        border-top: 1px solid #f5f5f51f;

        .logo {
          grid-area: a;
          align-self: start;
          padding-top: 5px;
        }

        .footer__copyright {
          align-self: start;
          grid-area: b;
          font-family: Inter;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.52px;
          text-align: left;
          color: #a9a9a9;
        }

        .footer__btn {
          grid-area: d;

          width: 100%;
          min-height: 49px;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.36px;
          text-align: center;
          color: #fff;
          opacity: 0.8;
          border: 1px solid rgba(245, 245, 245, 0.5);
          border-radius: 5px;

          &:hover {
            opacity: 1;
            background: #ffffff;
            color: #363636;
          }

          &:active {
            background: transparent;
            color: #ffffff;
            opacity: 0.8;
            border: 1px solid rgba(245, 245, 245, 0.5);
          }
        }

        .footer__info-links {
          margin-top: -9px;
          grid-area: c;
          display: grid;
          grid-auto-flow: row;
          gap: 7px;

          .footer__policy {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
            text-align: left;
            color: white;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: #748d55;
            }
          }
        }

        .footer__developer {
          grid-area: e;
          align-self: start;
          margin-top: 5px;

          .developer__text {
            max-width: 125px;
          }
        }

        .footer__desc-wrap {
          // grid-column: 9/10;
          grid-area: f;

          display: grid;
          grid-auto-flow: row;
          gap: 7px;
          justify-items: start;

          .footer__desc {
            // grid-row: 1/3;
            color: rgba(#fff, 0.5);
            font-family: Inter;
            font-size: 13px;
            font-weight: 400;
            line-height: 15.73px;
            text-align: left;
          }

          .footer__agent-link {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: center;
            color: rgba(#fff, 0.5);
            transition: color 0.3s ease-in-out;

            &:hover {
              color: #748d55;
            }
          }
        }
      }
    }
  }
}

// --------------------------------------- FOOTER end ---------------------------------------
// --------------------------------------- GLAVNAYA start ---------------------------------------

.glavnaya {
}

// --------------------------------------- GLAVNAYA end ---------------------------------------
// --------------------------------------- 404 start ---------------------------------------

.not-found-page {
  display: grid;
  grid-template: 1fr auto / 1fr;
  min-height: 100vh;

  .not-found {
    background: url(@img/404.png) center center / cover no-repeat;

    .not-found__container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 60px 10px 100px;

      .not-found__img {
        font-family: Inter;
        font-size: 280px;
        font-weight: 600;
        line-height: 308px;
        text-align: left;
        color: #56693e;
        letter-spacing: -10px;
      }

      .not-found__title {
        //styleName: н2.2;
        font-family: Inter;
        font-size: 40px;
        font-weight: 500;
        line-height: 48.41px;
        text-align: center;
        color: #303030;
      }

      .not-found__text {
        margin-bottom: 20px;
        max-width: 690px;
        //styleName: текст боди;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.2px;
        text-align: center;
        color: #5c5c5c;
      }

      .not-found__btns-wrapper {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 20px;
      }

      .btn {
        width: 237px;
        border-radius: 5px;
        color: #fff;
      }
    }
  }
}

// --------------------------------------- 404 end ---------------------------------------

// --------------------------------------- CONTACTS start ---------------------------------------

// --------------------------------------- CONTACTS end ---------------------------------------
// --------------------------------------- CATALOG start ---------------------------------------

// --------------------------------------- CATALOG end ---------------------------------------
// --------------------------------------- NEWS start ---------------------------------------

// --------------------------------------- NEWS end ---------------------------------------
// --------------------------------------- NEWS-ITEM start ---------------------------------------

// --------------------------------------- NEWS-ITEM end ---------------------------------------
// --------------------------------------- PROMO start ---------------------------------------

// --------------------------------------- PROMO end ---------------------------------------

// --------------------------------------- UTIL start ---------------------------------------

// --------------------------------------- UTIL end ---------------------------------------
// --------------------------------------- CALL-FORM start ---------------------------------------
.call-form {
  margin-bottom: 119px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 87px;
  gap: 60px;
  max-width: 1180px;
  // height: 206px;
  margin: 0 auto;
  background: #2fa7be;
  border-radius: 15px;

  .btn {
    border: 1px solid white;
  }

  .call-form__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;

    .checkbox__input + span {
    }
  }

  .call-form__input-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .call-form__title {
    max-width: 241px;
    // height: 120px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.04em;
    // text-wrap: wrap;
    // word-break: break-all;
    text-transform: uppercase;
    // margin-bottom: 50px;

    color: white;
  }

  .call-form__input-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .call-form__input {
      width: 217px;
      height: 48px;
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid #ffffff;
      border-radius: 6px;
      padding-left: 20px;
      transition: background-color 0.3s ease-in-out;
      color: white;

      &:hover {
        // border: 1px solid white;
        // background-color: $color-37CBD3;
      }

      &:active {
        background-color: white;

        // background-color: $color-2FA7BE;

        // border: 1px solid white;
      }

      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: white;
      }
    }

    .call-form__submit-btn {
      width: 184px;
      height: 48px;
      background-color: #2da1b7;
      border: 1px solid #ffffff;
      border-radius: 6px;
      color: white;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        // background-color: $color-37CBD3;
      }
      &:active {
        // background-color: $color-2FA7BE;
      }
    }
  }
}

// --------------------------------------- CALL-FORM end ---------------------------------------
// --------------------------------------- BUY start ---------------------------------------

// --------------------------------------- BUY end ---------------------------------------
// --------------------------------------- apartments-page start ---------------------------------------

// --------------------------------------- apartments-page end ---------------------------------------
// --------------------------------------- apartments-page-item start ---------------------------------------

// --------------------------------------- apartments-page-item end ---------------------------------------
// --------------------------------------- project-page start ---------------------------------------

// --------------------------------------- project-page end ---------------------------------------

// --------------------------------------- PROJECT-ITEM start ---------------------------------------

// --------------------------------------- PROJECT-ITEM end ---------------------------------------
// --------------------------------------- PORTFOLIO-ITEM start ---------------------------------------

// --------------------------------------- PORTFOLIO-ITEM end ---------------------------------------
// --------------------------------------- COMMERCIAL start ---------------------------------------

// --------------------------------------- COMMERCIAL end ---------------------------------------
// --------------------------------------- commercial-item-page start ---------------------------------------

// --------------------------------------- commercial-item-page end ---------------------------------------

// --------------------------------------- buy-page start ---------------------------------------

// --------------------------------------- buy-page end ---------------------------------------
// --------------------------------------- cooperation start ---------------------------------------

// --------------------------------------- cooperation end ---------------------------------------
// --------------------------------------- company start ---------------------------------------

// --------------------------------------- company end ---------------------------------------
